@using WebApp.Models
@model LessonViewModel

@{
    ViewData["Title"] = "Create";
}
 
<h4>Cource: @Model.Cource.Name</h4>   
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lesson.Name" class="control-label"></label>
                <input asp-for="Lesson.Name" class="form-control" />
                <span asp-validation-for="Lesson.Name" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Lesson.CreationDate" class="control-label"></label>
                <input asp-for="Lesson.CreationDate" class="form-control" />
                <span asp-validation-for="Lesson.CreationDate" class="text-danger"></span>
            </div>  
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="getInputValue();">Show Result</button> 
            </div>   
            <div class="form-group" id="HtmlOutput" > 
                <textarea id="inp_editor1"  class="form-control" asp-for="Lesson.Description" >
              
                </textarea>  
            </div> 
            <div class="form-group"> 
                 <input type="text" asp-for="Cource.Id" class="form-control" hidden="hidden" /> 
                 <input type="text" asp-for="Cource.Name" class="form-control" hidden="hidden" /> 
            </div> 
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Cources" asp-action="Details" asp-route-id="@Model.Cource.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
 <script>
        var editor1 = new RichTextEditor("inp_editor1");    
         
        function btnShowHTMLCode() {  
          // Getting the editor data  
          alert(editor1.getHTMLCode())  
        } 
</script>