@model WebApp.Models.CourceLessonViewModel

@{
	ViewData["Title"] = "Details";
}

<div class="card border-primary">
 <div class="card-header">
  <h4 class="card-title">@Model.Lesson.Name</h4>
  <hr />
 </div>

 <div class="card col-sm-12">
  <div class="card-body">

			@Html.DisplayFor(model => model.Lesson.Description)

  </div>
 </div>
 <div class="card-footer text-muted">
  <hr />
  <a asp-controller="Cources" asp-action="Details" class="btn btn-primary" asp-route-id="@Model.Cource.Id">Back to List</a>
 </div>
</div>
